*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
}
.my_header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
}
.logo:hover{
    background-color: rgb(172, 168, 168);
    cursor: pointer;
}
.logo{
    letter-spacing: 2px;
    padding: 13px 20px;
}

.my_header .logo span{
    color:black;
    font-weight: 900;
}
.menu_list{
    display: flex;
    list-style-type: none;
}
.menu_list_item:hover{
    background-color: rgb(172, 168, 168);
    cursor: pointer;
}
.menu_list_item{
    padding: 8px 15px;
    letter-spacing: 3px;
}
.Hero{
    height: 100vh;
    position: relative;
    margin-bottom: 20px;
    
}
.Hero_img_txt h1{
    position: absolute;
    transform: translate(-50% -50%);
    letter-spacing: 4px;
    top: 50%;
    left: 40%;
    font-weight: 300;
    color: white;
}
.Hero_img_txt span{
    background-color: black;
    color: white;
    opacity: 0.8;
}
.My_main{

    width: 100%;
    margin-top: 80px;
    padding: 0px 30px;
}
.Project_Cont{
    font-weight: normal;
    margin-bottom: 20px;
}
.My_main hr{
    margin-bottom: 30px; 
}
.Project_house_Contn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.Project_house_Contn .Houseimg_txt{
    width: 24.5%;
    position: relative;
    margin: 5px 0;
    
}
.Project_house_Contn .Houseimg_txt img{
    width: 100%;
}
.Project_house_Contn .Houseimg_txt p{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px 15px;
}
.main_about{
    margin-top: 50px;
}
.main_about h2{
    font-weight: normal;
}
.main_about hr{
    margin: 20px 0px;
}
.main_about .about_p{
    font-size: 14px;
}
.main_about .about_staff{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.main_about .about_staff .about_staff_member{
    width: 25%;
}
.main_about .about_staff .about_staff_member img{
    filter: grayscale(0.8);
    width: 100%;
}
.main_about .about_staff .about_staff_member h3{
    font-weight: normal;
    font-size: 25px;
    margin-top: 10px;
}
.main_about .about_staff .about_staff_member .postion{
    margin: 10px;
    font-size: 14px;
    color: gray;
}
.main_about .about_staff .about_staff_member button{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}
.main_contact{
    margin-top: 50px;
}
.main_contact h2{
    font-weight: normal;
}
.main_contact hr{
    margin: 20px 0px;
}
.main_contact .contact_form{
    margin-top: 20px;
}
.main_contact .contact_form .input_box{
    border: solid 1px rgb(202, 202, 202);
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.main_contact .contact_form .input_button{
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 30px;
}
.main_map img{
    width: 100%;
}
.my_footer{
    border: solid 1px red;
    background-color: black;
    color: white;
    text-align: center;
}
/* .my_footer h3{ */
    
@media only screen and (max-width: 768px){
    .Project_house_Contn .Houseimg_txt{
        width: 49%;
    }
    .main_about .about_staff .about_staff_member{
        width: 49%;
    }
} 

@media only screen and (max-width: 480px){
    .Project_house_Contn .Houseimg_txt{
    border: solid blue 2px;
    width: 100%;
    }
    .main_about .about_staff .about_staff_member{
    border: solid blue 2px;
    width: 100%;
    }
}




